<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partials/head') %>

</head>

<body>

    <main id="admin">

        <h1>Administración</h1>

        <p>Hola <%= user.username %> (<%= user.email %>)</p>

        <a href="/logout" class="button">Salir</a>

    </main>

    <footer>

        Administración

    </footer>

    <script src="./javascripts/front.js"></script>
</body>

</html>