<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partials/head') %>

</head>

<body>

    <aside id="offcanvas">

        <%- include('partials/aside') %>

    </aside>

    <header id="top">

        <%- include('partials/header') %>

    </header>


    <main id="celebraciones">

        <h1>Celebraciones en Viva María</h1>
        <section class="chess">
            <div class="row">
                <div><img src="https://picsum.photos/500?1" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, soluta, eos consectetur provident reiciendis voluptatem quisquam eveniet tempora possimus debitis expedita voluptatibus? Illo, repellat. Iusto vero labore maxime? Vero officiis commodi voluptatum a reprehenderit accusamus fuga itaque dolores modi iure tempora ipsam quibusdam, incidunt illo omnis odit culpa, ut, nesciunt est! Iste ipsam ipsa a adipisci nulla fuga quo accusamus numquam voluptas deserunt dolores consequuntur, veniam voluptate illum, rerum reprehenderit distinctio consequatur vero hic! Recusandae, quaerat voluptate velit mollitia aspernatur nobis. Unde mollitia voluptate amet harum culpa facilis soluta. Eos quas quo consequuntur ducimus nihil nemo ratione consectetur suscipit inventore?</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa repudiandae aliquam quod dolores expedita, voluptatibus, reiciendis distinctio tempora dicta eos quidem voluptates repellendus et? Ex voluptatibus minus veniam cum?</p>
                </div>
                <div><img src="https://picsum.photos/500?2" alt=""></div>
            </div>
            <div class="row">
                <div><img src="https://picsum.photos/500?3" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem consectetur accusantium neque molestiae fuga, repudiandae reprehenderit vitae voluptatem praesentium modi.</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, commodi.</p>
                </div>
                <div><img src="https://picsum.photos/500/300?4" alt=""></div>
            </div>
            <div class="row">
                <div><img src="https://picsum.photos/500?5" alt=""></div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia, nobis tempore eum reprehenderit nemo!</p>
                </div>
            </div>
        </section>

    </main>




    <footer>

        <%- include('partials/footer') %>

    </footer>

    <script src="./javascripts/front.js"></script>
</body>

</html>s