<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partials/head') %>

</head>

<body>

    <aside id="offcanvas">

        <%- include('partials/aside') %>

    </aside>

    <header id="top">

        <%- include('partials/header') %>

    </header>

    <main id="galeria">

        <h1>Galería de fotos</h1>

        <div class="inner">

            <figure>
                <img src="https://picsum.photos/300?1" alt="">
                <figcaption>Descripción de la imagen 1</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?2" alt="">
                <figcaption>Descripción de la imagen 2</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?3" alt="">
                <figcaption>Descripción de la imagen 3</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?4" alt="">
                <figcaption>Descripción de la imagen 4</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?5" alt="">
                <figcaption>Descripción de la imagen 5</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?6" alt="">
                <figcaption>Descripción de la imagen 6</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?7" alt="">
                <figcaption>Descripción de la imagen 7</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?8" alt="">
                <figcaption>Descripción de la imagen 8</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?9" alt="">
                <figcaption>Descripción de la imagen 9</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?10" alt="">
                <figcaption>Descripción de la imagen 10</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?11" alt="">
                <figcaption>Descripción de la imagen 11</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?12" alt="">
                <figcaption>Descripción de la imagen 12</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?13" alt="">
                <figcaption>Descripción de la imagen 13</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?14" alt="">
                <figcaption>Descripción de la imagen 14</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?15" alt="">
                <figcaption>Descripción de la imagen 15</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?16" alt="">
                <figcaption>Descripción de la imagen 16</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?17" alt="">
                <figcaption>Descripción de la imagen 17</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?18" alt="">
                <figcaption>Descripción de la imagen 18</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?19" alt="">
                <figcaption>Descripción de la imagen 19</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/300?20" alt="">
                <figcaption>Descripción de la imagen 20</figcaption>
            </figure>

        </div>

    </main>


    <footer>

        <%- include('partials/footer') %>

    </footer>

    <dialog id="lightbox">

        <form action="#" method="dialog">

            <img src="" alt="">
            <button>Cerrar</button>

        </form>

    </dialog>

    <script src="./javascripts/front.js"></script>
</body>

</html>