<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partials/head') %>

</head>

<body>

    <aside id="offcanvas">

        <%- include('partials/aside') %>

    </aside>

    <header id="top">

        <%- include('partials/header') %>

    </header>

    <section id="cta">
        <div class="backdrop"></div>
        <div class="inner">
            <h1>Restaurante Viva María - El Palo</h1>
            <p>Reserva tu mesa en Viva María y disfruta de la auténtica gastronomía italiana en Málaga</p>
            <a class="button" href="#" class="open-offcanvas">Haz tu reserva</a>
        </div>
    </section>


    <main>

        <section id="presentacion" class="cols boxed">

            <h2>Bienvenido a Viva María: Un Viaje Gastronómico</h2>
            <div class="inner">
                <div>
                    <img src="https://www.picsum.photos/200" alt="foto">
                    En Viva María, te ofrecemos un menú inspirado en los sabores auténticos de nuestra tierra. Cada
                    plato es elaborado con ingredientes frescos y de temporada, reflejando la diversidad culinaria que
                    nos rodea. Desde nuestras empanadas caseras hasta los jugosos cortes de carne a la parrilla, cada
                    bocado te transportará a un mundo de deliciosas tradiciones.
                </div>
                <div>
                    <img src="https://www.picsum.photos/200" alt="foto">
                    Nuestro ambiente acogedor y amigable es perfecto para compartir momentos especiales con amigos y
                    familiares. Con una cuidada selección de vinos locales y postres que despiertan los sentidos, cada
                    visita a Viva María se convierte en una experiencia memorable. Ven y descubre por qué somos el lugar
                    favorito de quienes buscan una combinación de buena comida y calidez humana.
                </div>
                <div>
                    <img src="https://www.picsum.photos/200" alt="foto">
                    Además, en Viva María nos apasiona la sostenibilidad. Trabajamos con productores locales para
                    garantizar que nuestros ingredientes sean frescos y respetuosos con el medio ambiente. Creemos que
                    disfrutar de una buena comida también significa cuidar nuestro entorno, y nos esforzamos por hacer
                    nuestra parte en cada plato que servimos.
                </div>
                <div>
                    <img src="https://www.picsum.photos/200" alt="foto">
                    Te invitamos a que vengas a disfrutar de nuestra cocina abierta, donde puedes ver a nuestros chefs
                    en acción. Nos encanta que nuestros comensales sean parte del proceso, porque en Viva María no solo
                    servimos comida; creamos experiencias que celebran la unión y la buena compañía. ¡Te esperamos!
                </div>
            </div>

        </section>

        <section id="banner" class="boxed">
            <h2>Conoce en Detalle Nuestro Restaurante Viva María</h2>
            <p>En Viva María, cada rincón cuenta una historia. Nuestro restaurante combina una atmósfera acogedora y
                vibrante, inspirada en la rica cultura gastronómica de la región. Desde el momento en que entras, te
                sumerges en un ambiente lleno de calidez, donde el arte y la decoración reflejan nuestras raíces.
                Nuestro equipo de chefs apasionados utiliza ingredientes frescos y de alta calidad para ofrecerte una
                experiencia culinaria inolvidable, fusionando recetas tradicionales con toques contemporáneos.</p>

            <p>Además de una variada selección de platillos, en Viva María también valoramos la conexión con nuestros
                comensales. Ofrecemos un servicio personalizado, asegurándonos de que cada visita sea especial. Ya sea
                para una cena íntima, una celebración con amigos o una reunión familiar, nuestro restaurante es el lugar
                ideal para disfrutar de momentos memorables. ¡Te esperamos para que descubras todo lo que tenemos para
                ofrecerte!</p>
        </section>

        <section id="video" class="">
            <video class="background" src="videos/fondo.mp4" autoplay muted loop>

            </video>
            <div class="foreground">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, temporibus.</h2>
            </div>
        </section>

        <section id="slide">

            <div class="slide-container">
                <div class="inner">
                    <div class="slide">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, et.</h3>
                    </div>
                    <div class="slide">
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, temporibus?</h3>
                    </div>
                    <div class="slide">
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, sunt?</h3>
                    </div>
                    <div class="slide">
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, sunt?</h3>
                    </div>
                </div>
            </div>

        </section>
        
    </main>

    <footer>

        <%- include('partials/footer') %>

    </footer>

    <script src="./javascripts/front.js"></script>
</body>

</html>