<h2>Reserva mesa</h2>

<form action="">

    <div class="control">
        <label for="email_reserva">Email</label>
        <input type="email" id="email_reserva" name="email_reserva" placeholder="ejemplo@correo.com">
    </div>

    <div class="control">
        <label for="fecha_reserva">Fecha</label>
        <input type="datetime-local" id="fecha_reserva" name="fecha_reserva">
    </div>

    <div class="control">
        <label for="personas_reserva">Personas</label>
        <input type="number" id="personas_reserva" name="personas_reserva" min="1" max="5" value="1">
    </div>

    <input type="hidden" name="lenguaje" id="lenguaje">
    
    <div class="control">
        <button>Reservar</button>
    </div>

</form>

<button class="close">&times;</button>