<nav class="menu">

    <img src="https://picsum.photos/150/40" alt="Logo del restaurante">

    <ul>

        <li><a href="/">Inicio</a></li>
        <li>
            <a href="#">Menús</a>
            <ul class="submenu">
                <li><a href="#">Carta</a></li>
                <li><a href="#">Menú del día</a></li>
                <li><a href="/celebraciones">Celebraciones</a></li>
            </ul>
        </li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/contacto">Contacto</a></li>

    </ul>

    <ul>
        <li class="open-offcanvas"><a href="#">Reservar</a></li>
    </ul>

    <ul class="mobile-open-menu">

        <li><a href="#" id="open-menu">Menú</a>
            <ul class="submenu">
                <li><a href="#">Carta</a></li>
                <li><a href="#">Galería</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </li>

    </ul>

</nav>